.items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    height: 100%;
}

.item img {
    width: 100%;
    height: auto; 
    max-width: 300px; 
    object-fit: cover;
}

.item p {
    margin: 6px 0;
    text-align: center;
    font-size: 14px;
}

.item-prices {
    display: flex;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #374151;
    justify-content: center;
}

.item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

@media(max-width:1280px){
    .item {
        font-size: 14px;
    }
    .item-prices {
        font-size: 14px;
    }
}

@media(max-width:1024px){
    .item {
        font-size: 13px;
    }
    .item-prices {
        font-size: 13px;
    }
}

@media(max-width:800px){
    .item {
        font-size: 12px;
    }
    .item-prices {
        font-size: 12px;
    }
}

@media(max-width:500px){
    .item {
        font-size: 11px;
    }
    .item-prices {
        font-size: 11px;
    }
}
