.navbar{
    display: flex;
    justify-content: space-around;
    padding: 40px;
    box-shadow: 0 1px 3px -2px black;
    background-color: black;
    color: white;
    font-size: 16px;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.nav-logo p{
    color: white;
    font: 38px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}
.nav-menu a{
    color: white;   /*link colour*/
    text-decoration: none; 
}
.nav-menu a:hover {
    color: #e6addb; /* Changes color on hover */
  }
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #e6addb;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-login-cart .cart-icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.nav-login-cart button{
    width: 90px;
    height: 40px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 18px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}
.nav-login-cart button:active{
    background: #e6addb;
}
.nav-cart-count{
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-left: -25px;
    border-radius: 11px;
    border-color: white;
    font-size: 14px;
    background: red;
    color: white;
}